<%= form_with(model: kigyo_master) do |form| %>
  <% if kigyo_master.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kigyo_master.errors.count, "error") %> prohibited this kigyo_master from being saved:</h2>

      <ul>
        <% kigyo_master.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <table>
  <tr>
    <td><%= form.label :code,"コード", style: "display: inline" %></td>
    <td><%= form.number_field :code %></td>
  </tr>
  <br>
  <tr>
    <td><%= form.label :name,"企業名", style: "display: inline" %></td>
    <td><%= form.text_field :name %></td>
  <br>
  <tr>
    <td><%= form.label :market,"市場", style: "display: inline" %></td>
    <td><%= form.text_field :market %></td>
  </tr>
  <br>
  <tr>
    <td><%= form.label :kind,"業種", style: "display: inline" %></td>
    <td><%= form.text_field :kind %></td>
  </tr>
  </table>
  <div>
    <% if @kigyo_master.id %>
      <%= submit_tag("更新する") %>
    <% else %>
      <%= submit_tag("登録する") %>
    <% end %>  
  </div>

<% end %>
