<div id="<%= dom_id kigyo_master %>">
  <p>
    <strong>Code:</strong>
    <%= kigyo_master.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= kigyo_master.name %>
  </p>

  <p>
    <strong>Market:</strong>
    <%= kigyo_master.market %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= kigyo_master.kind %>
  </p>

</div>
