<h1>配当益集計</h1>
<h3>（受渡日：<font color = "red"><%= @nen %></font>年01月01日～
<font color = "red"><%= @nen %></font>年12月31日）</h3><br>

<% sum_minus = 0 %>
<% sum_plus = 0 %>
<% if @haito_eki_syukeis != nil %>
  <% @haito_eki_syukeis.each do |haito_eki| %>
    <% sum_plus = sum_plus + haito_eki.son_eki_gaku %>
  <% end %>
<% end %>

<table border="1">
    <tr><th>配当計</th></tr>
    <tr>
      <td><%= number_with_delimiter(sum_plus) %></td>
    </tr>
</table>
<br>
<%= link_to "2020年", haito_eki_syukei_path(nen: "2020") %> 
<%= link_to "2021年", haito_eki_syukei_path(nen: "2021") %> 
<%= link_to "2022年", haito_eki_syukei_path(nen: "2022") %> 
<%= link_to "2023年", haito_eki_syukei_path(nen: "2023") %> 
<%= link_to "2024年", haito_eki_syukei_path(nen: "2024") %> 
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>株数</th>
      <th>配当額</th>
      <th>約定日</th>
    </tr>
    </thead>

<% if @haito_eki_syukeis != nil %>
  <div id="son_ekis">
    <% i = 0 %>
    <% @haito_eki_syukeis.each do |haito_eki| %>
      <tr>
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= haito_eki.code %></td>
        <td><%= haito_eki.name %></td>
        <td align="right"><%= number_with_delimiter(haito_eki.kabu_su) %></td>
        <td align="right">
          <%= number_with_delimiter(haito_eki.son_eki_gaku) %>
        </td>
        <td><%= haito_eki.baikyaku_bi %></td>
      </tr>
    <% end %>
  </div>      
<% end %>


</table>

