<p style="color: green"><%= notice %></p>

<h1>譲渡益集計</h1>
<h3>（受渡日：<font color = "red"><%= @nen %></font>年01月01日～
<font color = "red"><%= @nen %></font>年12月31日）</h3><br>

<% sum_minus = 0 %>
<% sum_plus = 0 %>
<% if @jyoto_eki_syukeis != nil %>
  <% @jyoto_eki_syukeis.each do |jyoto_eki| %>
    <% if jyoto_eki.son_eki_gaku < 0 %>
      <% sum_minus = sum_minus + jyoto_eki.son_eki_gaku %>
    <% else %>
       <% sum_plus = sum_plus + jyoto_eki.son_eki_gaku %>
    <% end %>
  <% end %>
<% end %>

<table border="1">
    <tr><th>利益計</th><th>損失計</th><th>全体合計</th></tr>
    <tr>
      <td><%= number_with_delimiter(sum_plus) %></td>
      <td><font color="red"><%= number_with_delimiter(sum_minus) %></font></td>
      <td><%= number_with_delimiter(sum_minus + sum_plus) %></td>
    </tr>
</table>
<br>
<%= link_to "2020年", jyoto_eki_syukei_path(nen: "2020") %> 
<%= link_to "2021年", jyoto_eki_syukei_path(nen: "2021") %> 
<%= link_to "2022年", jyoto_eki_syukei_path(nen: "2022") %> 
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>損益額</th>
      <th>買付日</th>
      <th>売却日</th>
    </tr>
    </thead>

<% if @jyoto_eki_syukeis != nil %>
  <div id="son_ekis">
    <% i = 0 %>
    <% @jyoto_eki_syukeis.each do |jyoto_eki| %>
      <tr>
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= jyoto_eki.code %></td>
        <td><%= jyoto_eki.name %></td>
        <td>
          <% if jyoto_eki.son_eki_gaku < 0 %>
            <font color = "red">
          <% end %>
          <%= number_with_delimiter(jyoto_eki.son_eki_gaku) %>
          <% if jyoto_eki.son_eki_gaku < 0 %>
            </font>
          <% end %>
        </td>
        <td><%= jyoto_eki.kaituke_bi %></td>
        <td><%= jyoto_eki.baikyaku_bi %></td>
      </tr>
    <% end %>
  </div>      
<% end %>


</table>

