<p style="color: green"><%= notice %></p>

<div class="diary_body">
<h1>日記一覧画面</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </tr>
    </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.id %></td>
        <td><%= link_to diary.title, diary %></td>
        <td><%= diary.created_at.to_s(:custom) %></td>
        <td><%= diary.updated_at.to_s(:custom) %></td>
      </tr>
    <% end %>
  </tbody>

</table> 

<br>
<%= button_to "新規作成", new_diary_path, {method: :get, class: "btn btn-default"} %>

</div>
