<p style="color: green"><%= notice %></p>
<h1>日記の表示画面</h1>
<%= render @diary %>

<div style="display:inline-flex">
  <%= link_to "編集", edit_diary_path(@diary) %> |
  <%= button_to "削除", diary_path(@diary), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %> |
  <%= link_to "一覧に戻る", diaries_path %>
</div>

