<h1>（月別）譲渡益集計 <font color = "red"><%= @nen %></font>年</h1>

<%= link_to "2020年", tuki_jyoto_eki_syukei_path(nen: "2020") %> 
<%= link_to "2021年", tuki_jyoto_eki_syukei_path(nen: "2021") %> 
<%= link_to "2022年", tuki_jyoto_eki_syukei_path(nen: "2022") %> 
<%= link_to "2023年", tuki_jyoto_eki_syukei_path(nen: "2023") %> 
<%= link_to "2024年", tuki_jyoto_eki_syukei_path(nen: "2024") %> 
<%= link_to "2025年", tuki_jyoto_eki_syukei_path(nen: "2025") %> 
<br>

<% month = 0 %>
<table border="1">
    <tr>
      <th>月</th><th>損益</th>
    </tr>

    <% @son_eki.each do |son_eki| %>
    <tr>
      <td><%= month = month+1 %>月</td>
      
      <td>
        <% if son_eki[:son_eki_gaku] < 0 %>
          <font color="red">
        <% end %>    
        <%= number_with_delimiter(son_eki[:son_eki_gaku]) %>
        <% if son_eki[:son_eki_gaku] < 0 %>
          </font>
        <% end %>    
        </td>
    </tr>
    <% end %>
</table>
