<br><hr>
<menu>
  <li><%= link_to "譲渡益明細アップロード", csv_upload_index_jyo_to_eki_path %></li>
</menu>

<br><hr>
<menu>
  <li><%= link_to "譲渡益明細集計", jyoto_eki_syukei_path(nen: Date.current.year) %></li>
</menu>

<br><hr>
<menu>
  <li><%= link_to "通算ランキング", tuusan_ranking_path %></li>
</menu>

<br><hr>
<menu>
  <li><%= link_to "月別譲渡益", tuki_jyoto_eki_syukei_path(nen: Date.current.year) %></li>
</menu>

<br><hr>
<menu>
  <li><%= link_to "配当金集計", haito_eki_syukei_path(nen: Date.current.year) %></li>
</menu>

<br><hr>
<menu>
  <li><%= link_to "月別配当金", tuki_haito_kin_syukei_path(nen: Date.current.year) %></li>
</menu>

<br><hr>
<menu>
  <li><%= link_to "年別集計", nen_betu_syukei_path %></li>
</menu>

<br><hr>
<br>
