<p id="notice"><%= notice %></p>

<p>
  <strong>年度:</strong>
  <%= @nen %>
</p>


<p>
  <strong>コード:</strong>
  <%= @meigara_memo.code %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @meigara_memo.memo %>
</p>

<%= link_to 'Edit', edit_meigara_memo_path(@meigara_memo, nendo: @nen) %> |
<%= link_to 'Back', meigara_memos_path(@meigara_memo, nendo: @nen) %>
<%= button_to "削除", meigara_memo_path(@meigara_memo, nendo: @nen), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %>