<div id="<%= dom_id jyoto_eki_meisai %>">
  <p>
    <strong>Code:</strong>
    <%= jyoto_eki_meisai.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= jyoto_eki_meisai.name %>
  </p>

  <p>
    <strong>Torikesi:</strong>
    <%= jyoto_eki_meisai.torikesi %>
  </p>

  <p>
    <strong>Yakujo bi:</strong>
    <%= jyoto_eki_meisai.yakujo_bi %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= jyoto_eki_meisai.count %>
  </p>

  <p>
    <strong>Torihiki:</strong>
    <%= jyoto_eki_meisai.torihiki %>
  </p>

  <p>
    <strong>Ukewatasi:</strong>
    <%= jyoto_eki_meisai.ukewatasi %>
  </p>

  <p>
    <strong>Baikyaku:</strong>
    <%= jyoto_eki_meisai.baikyaku %>
  </p>

  <p>
    <strong>Hiyo:</strong>
    <%= jyoto_eki_meisai.hiyo %>
  </p>

  <p>
    <strong>Syutoku bi:</strong>
    <%= jyoto_eki_meisai.syutoku_bi %>
  </p>

  <p>
    <strong>Sinki gaku:</strong>
    <%= jyoto_eki_meisai.sinki_gaku %>
  </p>

  <p>
    <strong>Son eki gaku:</strong>
    <%= jyoto_eki_meisai.son_eki_gaku %>
  </p>

  <p>
    <strong>Chiho:</strong>
    <%= jyoto_eki_meisai.chiho %>
  </p>

</div>
