<p style="color: green"><%= notice %></p>

<%= render @jyoto_eki_meisai %>

<div>
  <%= link_to "Edit this jyoto eki meisai", edit_jyoto_eki_meisai_path(@jyoto_eki_meisai) %> |
  <%= link_to "Back to jyoto eki meisais", jyoto_eki_meisais_path %>

  <%= button_to "Destroy this jyoto eki meisai", @jyoto_eki_meisai, method: :delete %>
</div>
