<h1>通算ランキング</h1>

<font color="green"><h3>利益額</h3></font>
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>株数</th>
      <th>買付株価</th>
      <th>売却単価</th>
      <th>上昇率</th>
      <th><font color="red">利益額</font></th>
      <th>買付日</th>
      <th>売却日</th>
    </tr>
    </thead>

<% if @tuusan_ranking_syukeis_rieki_gaku != nil %>
  <div id="son_ekis">
    <% i = 0 %>
    <% @tuusan_ranking_syukeis_rieki_gaku.each do |jyoto_eki| %>
      <tr>
        <% break if i == 10 %> 
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= jyoto_eki.code %></td>
        <td><%= jyoto_eki.name %></td>
        <td align="right"><%= number_with_delimiter(jyoto_eki.kabu_su) %></td>
        <td align="right">
          <% kai_tanka = jyoto_eki.konyu_gaku / jyoto_eki.kabu_su %>
          <%= number_with_delimiter(kai_tanka) %>
        </td>
        <td align="right">
          <% uri_tanka = (jyoto_eki.konyu_gaku + jyoto_eki.son_eki_gaku) / jyoto_eki.kabu_su %>
          <%= number_with_delimiter(uri_tanka) %>
        </td>
        <td align="right">
          <% tou_raku_ritu = ( (uri_tanka.to_f / kai_tanka.to_f) -1 ) * 100  %>
          <% if tou_raku_ritu < 0 %>
            <font color = "red">
          <% end %>
          <%= sprintf("%.2f", tou_raku_ritu) %>
          <% if tou_raku_ritu < 0 %>
            </font>
          <% end %>
        </td>
        <td align="right"><font color="red">
          <%= number_with_delimiter(jyoto_eki.son_eki_gaku) %>
          </font>
        </td>
        <td><%= jyoto_eki.kaituke_bi %></td>
        <td><%= jyoto_eki.baikyaku_bi %></td>
      </tr>
    <% end %>
  </div>
<% end %>
</table>

<BR>
<font color="green"><h3>損失額</h3></font>
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>株数</th>
      <th>買付株価</th>
      <th>売却単価</th>
      <th>下落率</th>
      <th><font color="red">損失額</font></th>
      <th>買付日</th>
      <th>売却日</th>
    </tr>
    </thead>

<% if @tuusan_ranking_syukeis_sonsitu_gaku != nil %>
  <div id="son_ekis">
    <% i = 0 %>
    <% @tuusan_ranking_syukeis_sonsitu_gaku.each do |jyoto_eki| %>
      <tr>
        <% break if i == 10 %> 
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= jyoto_eki.code %></td>
        <td><%= jyoto_eki.name %></td>
        <td align="right"><%= number_with_delimiter(jyoto_eki.kabu_su) %></td>
        <td align="right">
          <% kai_tanka = jyoto_eki.konyu_gaku / jyoto_eki.kabu_su %>
          <%= number_with_delimiter(kai_tanka) %>
        </td>
        <td align="right">
          <% uri_tanka = (jyoto_eki.konyu_gaku + jyoto_eki.son_eki_gaku) / jyoto_eki.kabu_su %>
          <%= number_with_delimiter(uri_tanka) %>
        </td>
        <td align="right">
          <% tou_raku_ritu = ( (uri_tanka.to_f / kai_tanka.to_f) -1 ) * 100  %>
          <%= sprintf("%.2f", tou_raku_ritu) %>
        </td>
        <td align="right"><font color="red">
          <%= number_with_delimiter(jyoto_eki.son_eki_gaku) %>
          </font>
        </td>
        <td><%= jyoto_eki.kaituke_bi %></td>
        <td><%= jyoto_eki.baikyaku_bi %></td>
      </tr>
    <% end %>
  </div>
<% end %>
</table>

<br><font color="green"><h3>上昇率</h3></font>
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>株数</th>
      <th>買付株価</th>
      <th>売却単価</th>
      <th><font color="red">上昇率</font></th>
      <th>利益額</th>
      <th>買付日</th>
      <th>売却日</th>
    </tr>
    </thead>

    <% if @tuusan_ranking_syukeis_rieki_ritu != nil %>
      <div id="son_ekis">
        <% i = 0 %>
        <% @tuusan_ranking_syukeis_rieki_ritu.each do |jyoto_eki| %>
          <tr>
            <% break if i == 10 %> 
            <% i = i + 1 %>
            <td><%= i %></td>
            <td><%= jyoto_eki.code %></td>
            <td><%= jyoto_eki.name %></td>
            <td align="right"><%= number_with_delimiter(jyoto_eki.kabu_su) %></td>
            <td align="right">
              <% kai_tanka = jyoto_eki.konyu_gaku / jyoto_eki.kabu_su %>
              <%= number_with_delimiter(kai_tanka) %>
            </td>
            <td align="right">
              <% uri_tanka = (jyoto_eki.konyu_gaku + jyoto_eki.son_eki_gaku) / jyoto_eki.kabu_su %>
              <%= number_with_delimiter(uri_tanka) %>
            </td>
            <td align="right">
              <font color="red">
                <% tou_raku_ritu = ( (uri_tanka.to_f / kai_tanka.to_f) -1 ) * 100  %>
                <%= sprintf("%.2f", tou_raku_ritu) %>
              </font>
            </td>
            <td align="right">
              <%= number_with_delimiter(jyoto_eki.son_eki_gaku) %>
            </td>
            <td><%= jyoto_eki.kaituke_bi %></td>
            <td><%= jyoto_eki.baikyaku_bi %></td>
          </tr>
        <% end %>
      </div>
    <% end %>
</table>

<br><font color="green"><h3>下落率</h3></font>
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>株数</th>
      <th>買付株価</th>
      <th>売却単価</th>
      <th><font color="red">下落率</font></th>
      <th>損失額</th>
      <th>買付日</th>
      <th>売却日</th>
    </tr>
    </thead>

    <% if @tuusan_ranking_syukeis_sonsitu_ritu != nil %>
      <div id="son_ekis">
        <% i = 0 %>
        <% @tuusan_ranking_syukeis_sonsitu_ritu.each do |jyoto_eki| %>
          <tr>
            <% break if i == 10 %> 
            <% i = i + 1 %>
            <td><%= i %></td>
            <td><%= jyoto_eki.code %></td>
            <td><%= jyoto_eki.name %></td>
            <td align="right"><%= number_with_delimiter(jyoto_eki.kabu_su) %></td>
            <td align="right">
              <% kai_tanka = jyoto_eki.konyu_gaku / jyoto_eki.kabu_su %>
              <%= number_with_delimiter(kai_tanka) %>
            </td>
            <td align="right">
              <% uri_tanka = (jyoto_eki.konyu_gaku + jyoto_eki.son_eki_gaku) / jyoto_eki.kabu_su %>
              <%= number_with_delimiter(uri_tanka) %>
            </td>
            <td align="right">
              <font color="red">
                <% tou_raku_ritu = ( (uri_tanka.to_f / kai_tanka.to_f) -1 ) * 100  %>
                <%= sprintf("%.2f", tou_raku_ritu) %>
              </font>
            </td>
            <td align="right">
              <%= number_with_delimiter(jyoto_eki.son_eki_gaku) %>
            </td>
            <td><%= jyoto_eki.kaituke_bi %></td>
            <td><%= jyoto_eki.baikyaku_bi %></td>
          </tr>
        <% end %>
      </div>
    <% end %>
</table>
