
<h1>譲渡益明細アップロード</h1>



<%= form_with url: "/csv_upload" do |form| %>

  <%= form.select :nendo, CsvImport::UPLOAD_NEN, include_blank: "選択して下さい" %>

  <br><br>

  <%= form.hidden_field :gamen_kind, :value => "jyoto" %>
  <%= form.file_field :file, accept: '.csv' %>
  <%= form.submit "アップロード" %>

  <% if @errors.present? %>
   <% @errors.each do |error| %>
     <% error[:messages].each do |message| %>
       <li><%= "#{error[:row_num]}行目：#{message}" %></li>
     <% end %>
   <% end %>
  <% end %>

<% end %>