<h1>（月別）譲渡益集計</h1>
<h3>（受渡日：<font color = "red"><%= @nen %></font>年</h3><br>

<br>
<%= link_to "2020年", tuki_jyoto_eki_syukei_path(nen: "2020") %> 
<%= link_to "2021年", tuki_jyoto_eki_syukei_path(nen: "2021") %> 
<%= link_to "2022年", tuki_jyoto_eki_syukei_path(nen: "2022") %> 
<%= link_to "2023年", tuki_jyoto_eki_syukei_path(nen: "2023") %> 
<%= link_to "2024年", tuki_jyoto_eki_syukei_path(nen: "2024") %> 
<br>

<table border="1">
    <tr>
      <th>月</th><th>損益</th>

    </tr>
    
    <tr>
      <td><%= number_with_delimiter(@sum_plus) %></td>
      <td><font color="red"><%= number_with_delimiter(@sum_minus) %></font></td>
    </tr>
</table>
