<div id="<%= dom_id torihiki_rireki %>">
  <p>
    <strong>Yakujobi:</strong>
    <%= torihiki_rireki.yakujobi %>
  </p>

  <p>
    <strong>Meigara:</strong>
    <%= torihiki_rireki.meigara %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= torihiki_rireki.code %>
  </p>

  <p>
    <strong>Market:</strong>
    <%= torihiki_rireki.market %>
  </p>

  <p>
    <strong>Torihiki:</strong>
    <%= torihiki_rireki.torihiki %>
  </p>

  <p>
    <strong>Kigen:</strong>
    <%= torihiki_rireki.kigen %>
  </p>

  <p>
    <strong>Azukari:</strong>
    <%= torihiki_rireki.azukari %>
  </p>

  <p>
    <strong>Kazei:</strong>
    <%= torihiki_rireki.kazei %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= torihiki_rireki.count %>
  </p>

  <p>
    <strong>Tanka:</strong>
    <%= torihiki_rireki.tanka %>
  </p>

  <p>
    <strong>Tesuu:</strong>
    <%= torihiki_rireki.tesuu %>
  </p>

  <p>
    <strong>Zeigaku:</strong>
    <%= torihiki_rireki.zeigaku %>
  </p>

  <p>
    <strong>Ukewatasi:</strong>
    <%= torihiki_rireki.ukewatasi %>
  </p>

  <p>
    <strong>Kingaku:</strong>
    <%= torihiki_rireki.kingaku %>
  </p>

</div>
