<p style="color: green"><%= notice %></p>

<%= render @torihiki_rireki %>

<div>
  <%= link_to "Edit this torihiki rireki", edit_torihiki_rireki_path(@torihiki_rireki) %> |
  <%= link_to "Back to torihiki rirekis", torihiki_rirekis_path %>

  <%= button_to "Destroy this torihiki rireki", @torihiki_rireki, method: :delete %>
</div>
