<!DOCTYPE html>
<html>
  <head>
    <title>SBI譲渡益集計</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class ="diary_header">
      <span class="header_link"><a href="http://192.168.56.2:3000/home/index">ホーム</a></span></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/csv_upload/index_jyo_to_eki">譲渡益明細アップロード</a></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/jyoto_eki_syukei?nen=2025">譲渡益明細集計</a></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/tuki_jyoto_eki_syukei?nen=2025">月別譲渡益</a></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/haito_eki_syukei?nen=2025">配当金集計</a></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/tuki_haito_kin_syukei?nen=2025">月別配当金</a></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/nen_betu_syukei">年別集計</a></span>
      <span class="header_link"><a href="http://192.168.56.2:3000/meigara_memos?nendo=2025">銘柄メモ</a></span>
    </div>
    <div class ="diary_body">
      <%= yield %> 
    </div>

    <div class="diary_fotter">
      <fotter>フッター</footer>
    </div>
  </body>
</html>
