<!DOCTYPE html>
<html>
  <head>
    <title>SBI譲渡益集計</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class ="diary_header">
    <span class="header_link"><%= link_to "ホーム", home_index_path %></span>
    <span class="header_link"><%= link_to "譲渡益明細アップロード", csv_upload_index_jyo_to_eki_path %></span>
    <span class="header_link"><%= link_to "譲渡益明細集計", jyoto_eki_syukei_path(nen: Date.current.year) %></span>
    <span class="header_link"><%= link_to "通算ランキング", tuusan_ranking_path %></span>
    <span class="header_link"><%= link_to "月別譲渡益", tuki_jyoto_eki_syukei_path(nen: Date.current.year) %></span>
    <span class="header_link"><%= link_to "配当金集計", haito_eki_syukei_path(nen: Date.current.year) %></span>
    <span class="header_link"><%= link_to "月別配当金", tuki_haito_kin_syukei_path(nen: Date.current.year) %></span>
    <span class="header_link"><%= link_to "年別集計", nen_betu_syukei_path %></span>
    <span class="header_link"><%= link_to "銘柄メモ", meigara_memos_path(nendo: Date.current.year) %></span>
    </div>
    <div class ="diary_body">
      <%= yield %> 
    </div>

    <div class="diary_fotter">
      <fotter>SBI 株式譲渡益 集計</footer>
    </div>
  </body>
</html>
